div {
  box-sizing: border-box;
}
nav {
  background-color: black;
  color: white;
  font-size: 20px;
}
.nav-frame {
  padding: 20px;
}
.edit {
  text-align: center;
}
.article-frame {
  padding: 20px;
  position: relative;
}
.article-flesh {
  border-bottom: 1px solid gray;
}
.modal {
  background-color: #eee;
  padding: 20px;
}
.modal h4 {
  margin-top: 0;
}
.article-delete {
  position: absolute;
  top: 50%;
  right: 20px;
}
