body {
  margin: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 제일 큰 박스 */
body > div {
  width: 600px;
  border: 3px dashed gray;
  height: auto;
}

/*게임 박스*/

#game-area {
  text-align: center;
}

h1 {
  margin: 0;
  padding: 30px 0;
}

#instruction-button {
  background-color: pink;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: bold;
}

#instruction-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#user-input:enabled {
  border: 2px solid gray;
  box-sizing: border-box;
  text-align: center;
  line-height: 35px;
  padding: 0;
}

#user-input:disabled {
  box-sizing: border-box;
  text-align: center;
  line-height: 35px;
  padding: 0;
}

#user-input::-webkit-outer-spin-button,
#user-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#user-input:enabled:focus {
  border: 2px solid pink;
  outline: none;
}

#go-button:enabled,
#reset-button {
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  width: 70px;
  height: auto;
}
#go-button:disabled {
  border-radius: 5px;
  padding: 5px 10px;
  width: 70px;
  height: auto;
}

#go-button:enabled:hover,
#reset-button:hover {
  cursor: pointer;
  background-color: pink;
  color: black;
}

#game-area p:last-child {
  margin-bottom: 0;
  padding-bottom: 16px;
}

/*설명서 박스*/
#instruction-text {
  border-top: 3px dashed gray;
  text-align: left;
  line-height: 2.5em;
  padding-left: 1em;
  background-color: pink;

  overflow: hidden;
}
