body {
  margin: 0;
}
nav {
  width: 550px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
}
.nav-menu {
  width: 50px;
  height: 40px;
  background-color: white;
  border: 1px solid gray;
  position: relative;
}
.nav-menu-line {
  width: 80%;
  height: 5px;
  border-radius: 10px;
  background-color: gray;
  position: absolute;
}
.nav-menu-line:nth-child(1) {
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.nav-menu-line:nth-child(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav-menu-line:nth-child(3) {
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.nav-menu-list {
  /* display: none; */
  visibility: hidden;
  width: 50px;
  height: 0px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 101%;
  right: 0;
  transition: all 1s;
}
.nav-menu:hover {
  cursor: pointer;
}
.nav-menu-list li {
  padding: 10px;
  list-style: none;
  border: 1px solid gray;
  border-collapse: collapse;
}

.show {
  /* display: block; */
  visibility: visible;
  height: 172px;
  width: 150px;
}
