body {
  margin: 0;
}
div {
  box-sizing: border-box;
}

.black-nav {
  background-color: black;
  color: white;
  text-align: start;
  width: 100%;
  padding: 20px;
}
.black-nav h4 {
  margin: 0;
}
.list {
  text-align: start;
  padding: 20px;
  border-bottom: 1px solid grey;
}

.modal {
  text-align: start;
  background-color: #ccc;
  padding: 20px;
}
.modal h4 {
  margin: 0;
}
.delete {
  float: right;
}
.list::after {
  content: '';
  clear: both;
  display: block;
}
