.head-line {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
.head-line svg {
  width: 430px;
}
.menus {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  border-top: 1px solid #2b2b2b;
  border-bottom: 4px double black;
  flex-wrap: wrap;
}

.menus button {
  background: none;
  border: none;
  margin: 5px;
}
.menus button:hover {
  background-color: beige;
}
.news {
  max-width: 100%;
  max-height: 250px;
}
.row {
  border-bottom: 2px solid#2b2b2b;
  padding: 15px 0;
}
