body {
  margin: 0;
  background-image: url(./abstract-background-with-minimal-gradient-blur-design_1048-19879.avif);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  background-color: white;
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.text-area {
  border: 1px solid lightgray;
}
.task-tabs {
  display: flex;
  border-bottom: 1px solid lightgray;
  position: relative;
}
.task-tabs div {
  padding: 1em;
}
#under-line {
  width: 80px;
  height: 4px;
  position: absolute;
  left: 0;
  top: 52px;
  padding: 0;
  background-color: pink;
}
.task {
  display: flex;
  justify-content: space-between;
}
.task > div:first-child {
  padding: 10px 0 0 20px;
}

.task button {
  padding: 10px 10px;
  width: 5em;
  border: none;
  background-color: white;
}
.task button:first-child {
  margin-right: -7px;
  color: green;
}
.task button:first-child:hover {
  background-color: greenyellow;
}
.task button:nth-child(2) {
  color: red;
}
.task button:nth-child(2):hover {
  background-color: rgba(255, 0, 0, 0.242);
}
